body {
  background-color: white;
}
.image-homepage {
    background-color: rebeccapurple;
    height: 500px;
    width: 500px;
}
.smile {
  display: block;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
    vertical-align: center;
}
p {
  font-family: verdana;
  font-size: 20px;
}
.btn-danger{}

#encadrement-post{
    background-color: white;
    margin: 30px;
    padding: 10px;
}
.container {
  text-align: center;
}
.button like{
  text-decoration: none;
  background-color: rgba(236, 229, 167, 0.2);
  border: 2px solid #e7dd84;
  color: #e7dd84;
  display: inline-block;
  font-size: 1.5em;
  padding: 8px;
  transition: 0.35s;
}
.button like:hover {
  text-decoration: none;
  background-color: white;
  border-color: white;
  color: black;
}