body {
  background-color: white;
}
.image-homepage {
    background-color: rebeccapurple;
    height: 500px;
    width: 500px;


}
p {
  font-family: verdana;
  font-size: 20px;
}
.btn-danger{}

#encadrement-post{
    background-color: white;
    margin: 30px;
    padding: 10px;
}