{% extends "layout.html.jinja2" %}
{% from "forms.html.jinja2" import render_field %}

{% block body %}
    <form action="{{ url_for("comment_a_post", comment_id=comment.id) }}" method="post">

        <div>
            <input type="hidden" id="post_id" name="post_id" value="{{ post_id }}">

            <label for="description" class="form-label">Commentaire</label>
            <input type = "text" name="description" id = "description" class = "form-control">
        </div>
        <br>
        <div class = "mb-3">
            <button type = "submit" class = "btn btn-primary"> Envoyer</button>
        </div>

    </form>
{% endblock %}