{% extends "layout.html.jinja2" %}
{% from "forms.html.jinja2" import render_field %}

{% block body %}
    <form action="{{ url_for("create_or_process_post", post_id=post.id) }}" method="post" enctype="multipart/form-data">
        <u1>
            {%  for error in errors %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </u1>
        <div class="mb-3">
            <label for="formFile" class="form-label">Sélectionnez l'image</label>
            <input class="form-control" name="file" type="file" id="formFile" value="{{ file }}">
        </div>

        <div>
            <label for="description" class="form-label">Description de l'image</label>
            <input type = "text" name="description" id = "description" placeholder ="Description de mon image" class = "form-control" value="{{ post.content }}">
        </div>
        <div>
            <label for="description" class ="form-label">Tags de l'image</label>
            <input type ="text" name="tags" id = "tags" class="form-control" placeholder="image croissant kiwi le bon vieux temps" value="{{ post.tags }}">
        </div>
        <br>
        <div class = "mb-3">
            <button type = "submit" class = "btn btn-primary"> Envoyer</button>
        </div>

    </form>
{% endblock %}