{% extends "layout.html.jinja2" %}

{% block body %}
    <dl style="display:grid; align-items: center; justify-content: center;">
        {% for post in posts %}
            <div class ="encadrement-post" style="background-color: white; margin: 30px; padding: 10px">
                <dt><b>{{ post.title }}</b> (edited by {{ post.authorPost.username }})
                    {% if post.user_id == current_user.id %}
                        <a href="{{ url_for("create_or_process_post", post_id=post.id) }}">edit</a> |
                        <a href="{{ url_for("delete_post", post_id=post.id) }}">delete</a>
                    {% endif %}
                </dt>
                <div class ="container-fluid">
                    <img class ="image-homepage" src="data:;base64,{{ post.image_data.decode('ascii') }}" alt = "bouh"/>
                    <form action="{{ url_for("add_a_like", post_id=post.id )}}" method="post">
                        <button class="btn btn-primary button like" type ="submit">JADORE</button>
                    </form>
                </div>
                <dd>Description : {{ post.content }}</dd>
                <dd>Tags : {{ post.tags }}      {{ post.likes }} Likes</dd>
                <dd>
                    <ul>
                        {% for comment in post.comments %}
                        <li>
                            {% if comment.post_id == post.id %}
                                {{ comment.authorComment.username }} a commenté : {{ comment.content }} |
                                {% if comment.user_id == current_user.id %}
                                    <a href="{{ url_for("delete_comment", comment_id=comment.id) }}" style="color: darkred">Supprimer</a>
                                {% endif %}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                <div style="display: flex">
                    {% if post.authorPost.id != current_user.id %}
                        <img src="static/icon/smile.png" alt="smiley" class="smile">
                        <div style="width: 20px;"></div>
                         <form action="{{ url_for("comment_a_post", post_id=post.id )}}" method="post">
                                                    <div>
                                                        <label for="description" class="form-label">Commentaire</label>
                                                        <input type = "text" name="description" id = "description" class = "form-control">
                                                    </div>
                                                    <br>
                                        <div>
                                            <button type = "submit" class = "btn btn-primary"> Envoyer</button>
                                        </div>
                         </form>
                    {% endif %}
                </div>
                </dd>
            </div>
        {% endfor %}
    </dl>
{% endblock %}