{% extends "layout.html.jinja2" %}

{% block body %}
    <dl>
        {% for post in posts %}
            <dt><b>{{ post.title }}</b> (edited by {{ post.author.username }})
                {% if post.author.id == 1 %}
                    <a href="{{ url_for("create_or_process_post", post_id=post.id) }}">edit</a> |
                    <a href="{{ url_for("delete_post", post_id=post.id) }}">delete</a>
                {% endif %}
            </dt>
            <dd>Image
                <img class="image-homepage"  src="data:;base64,{{ post.image_data.decode('ascii') }}"/>
            </dd>
            <dd>{{ post.content }}</dd>
            <dd>
                <ul>Commentaires :
                    {% if post.author.id != 1 %}
                        <a href="{{ url_for("comment_a_post", post_id=post.id) }}"><b>add a comment</b></a>
                    {% endif %}
                    {% for comment in comments %}
                    <li>
                        {% if comment.post_id == post.id %}
                            {{ comment.parentPost.author.username }} a commenté : {{ comment.content }}
                        {% endif %}
                        test
                    </li>
                    {% endfor %}
                    <li>
                        machin à commenté : whaouh !
                    </li>
                </ul>

            </dd>
        {% endfor %}
    </dl>
{% endblock %}