<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Mise à l'echelle pour les navigateurs mobiles -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS de Bootstrap -->
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

       <!-- Notre CSS -->
       <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">

        <title>Delaygram</title>
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style = "background-color:rebeccapurple">
        <div class="d-grid col">
                <a href="{{ url_for("index") }}" class = "btn btn-primary" role="button">Delaygram </a>
        </div>
        <div class="d-grid col-6">
            <a href="{{ url_for("create_or_process_post")}}" class="btn btn-danger " role ="button" id="2">Ajouter une image</a>
        </div>
        <div class="input-group col">
          <input type="text" class="form-control" placeholder="Rechercher ..." aria-label="Recipient's username" aria-describedby="button-addon2">
          <a href="{{  url_for("search")  }}" class="btn btn-primary" role="button" id="button-addon2">Rechercher</a>
        </div>
        </div>
    </nav>



    <div class="container">
        <main class="main-content">
        {% block body %}
        {% endblock %}
        </main>
    </div>

    <!-- Fichiers Javascript nécessaires pour certains composants Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    </body>
</html>