{% extends "layout.html.jinja2" %}


{% block body %}
    <h1>Bonjour {{ current_user.username }} !</h1>

    <p>Votre adresse email est : {{ current_user.email }}</p>

    <div>
        - Nombre d'images mises en ligne : {{ images_submited }} | {{ size_submited }} bytes<br>
        - Nombre d'images total sur la plateforme : {{ images_total }} | {{ size_total }} bytes<br>
        - Nombre d'images likées : {{ images_liked }} | {{ size_liked }} bytes
    </div>

    <br>
    <br>

    <h3>Mes abonnements : {{ current_user.followed.count() }} </h3>
        <ul class="list-group">
            {% for user in current_user.followed %}
             <li class="list-group-item">
                 <span>Pseudo: {{ user.followed.username }} </span><br>
                 <span>Email: {{ user.followed.email }}</span>
             </li>
            {% endfor %}
        </ul>


    <br>
    <br>

    <h3>Mes followers : {{ current_user.followers.count() }}</h3>
        <ul class="list-group">
            {% for user in current_user.followers %}
             <li class="list-group-item">
                 <span>Pseudo: {{ user.follower.username }} </span><br>
                 <span>Email: {{ user.follower.email }}</span>
             </li>
            {% endfor %}
        </ul>

    <br>
    <br>

    <h3>Mes Posts : {{ current_user.posts.count() }} </h3>
    <dl class="post-list">
    {% for post in current_user.posts %}
        <div class ="encadrement-post" >
            <dt> {{ post.authorPost.username }}
                {% if post.user_id == current_user.id %}
                    <a href="{{ url_for("create_or_process_post", post_id=post.id) }}">modifier</a> |
                    <a href="{{ url_for("delete_post", post_id=post.id) }}">supprimer</a>
                {% endif %}
            </dt>
            <div class ="container">
                    <img class ="image-homepage" src="data:;base64,{{ post.image_data.decode('ascii') }}" alt = "Image"/>
                </div>
                {% if current_user.is_authenticated %}
                    {% if current_user.has_liked_post(post) %}
                        <a href="{{ url_for('like_unlike', post_id=post.id, action='unlike') }}" class = "btn btn-primary" role = "button">Unlike</a>
                    {% else %}
                         <a href="{{ url_for('like_unlike', post_id=post.id, action='like') }}" class = "btn btn-primary" role = "button">Like</a>
                    {% endif %}
                {% endif %}
                {{ post.likes.count() }} Likes
            <dd>Description : {{ post.content }}</dd>
            <dd>Tags : {{ post.tags }}</dd>

            <dd>
                <ul>
                    {% set i = namespace(value=0) %}
                    {% for comment in post.comments %}
                       {% if i.value <= 2 %}
                            <li>
                                {{ comment.authorComment.username }} a commenté : {{ comment.content }}
                                {% if comment.user_id == current_user.id %}
                                    <a href="{{ url_for("delete_comment", comment_id=comment.id) }}" style="color: darkred">Supprimer</a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% set i.value = i.value + 1 %}
                    {% endfor %}
                        {% if post.comments|length >3 %}
                            {% set i.value = 0 %}
                            <a href="#voirPlus" data-toggle="collapse">Voire plus de commentaires</a>
                            <div id="voirPlus" class="collapse">
                                {% for comment in post.comments %}
                                    {% if i.value > 2 %}
                                        <li>
                                            {{ comment.authorComment.username }} a commenté : {{ comment.content }}
                                            {% if comment.user_id == current_user.id %}
                                                <a href="{{ url_for("delete_comment", comment_id=comment.id) }}" style="color: darkred">Supprimer</a>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                    {% set i.value = i.value + 1 %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </ul>


                <div>
                    {% if current_user.is_authenticated %}
                         <form action="{{ url_for("comment_a_post", post_id=post.id )}}" method="post" style="display:grid; grid-template-columns: repeat(5, 1fr);">
{#                             <img src="static/icon/smile.png" alt="smiley" class="smile">#}
                            <label for="description" class="form-label" style="align-self: center; margin-right: 10px">Commentaire :</label>
                            <input type = "text" name="description" id = "description" class = "form-control" style="grid-column-start: 2; grid-column-end: 5">
                            <button type = "submit" class = "btn btn-primary" style="margin-left: 10px"> Envoyer</button>

                         </form>
                    {% endif %}
                </div>
                </dd>
        </div>
    {% endfor %}
    </dl>

{% endblock %}